body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d0daed;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 6rem 2rem 2rem 2rem;
    margin-top: 4rem;
}
#home {
    width: auto; 
    height: 160px;
    background-image:url(image/Untitled\ Project\ \(1\).jpg)  ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#about {
    text-align: right;
    width: auto; 
    height: 300px;
    background-image:url(image/flip.png)  ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#resume {
    width: auto; 
    height: 160px;
    background-image: url(image/sheet\ \(1\).png)  ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
#projects {
    width: auto; 
    height: 700px;
    background-image: url(image/welcome.png)  ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}




.project {
    background-color: #fbfbfb;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: static;
    width: 100%;
    bottom: 0;
}
